# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C++ files
[*.{cpp,h}]
indent_size = 2
max_line_length = 100

# Python files
[*.py]
indent_size = 4

# JavaScript files
[*.js]
indent_size = 2

